#city {
    background-color: white;
}

.SearchBox {

    width: 400px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: dodgerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}